@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "donau";
  src: url(../donau.otf); }

@font-face {
  font-family: "monserrat";
  src: url(../montserratmedium.ttf); }

@font-face {
  font-family: "extralight";
  src: url(../montserratextralight.ttf); }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem; }

.carousel-control-next-icon {
  background-image: url(../imagenes/puntader.png); }

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 12%;
  color: #f8f3b1;
  text-align: center;
  transition: opacity 0.10s ease; }

.carousel-control-prev-icon {
  background-image: url(../imagenes/puntaizq.png); }

#carrusel1, #carrusel2, #carrusel3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15rem 2rem 0rem 2rem; }

#carrusel4, #carrusel5, #carrusel6, #carrusel7, #carrusel8, #carrusel9, #carrusel10, #carrusel11, #carrusel12 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem 0rem 2rem; }

#carrusel13, #carrusel14, #carrusel15 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem 0rem 2rem; }

.piearticle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "monserrat";
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem; }

.piearticle__bottom {
  width: 12rem;
  height: 4rem;
  border-radius: 1rem;
  border: solid 0.2rem;
  border-color: #26cf11;
  background-color: black;
  color: #f8f3b1;
  font-size: 2rem;
  margin: 1rem;
  transition: all 0.5s; }

.piearticle__bottom:hover {
  width: 13rem;
  height: 5rem; }

section {
  margin-bottom: 5rem; }

@media (max-width: 768px) {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .carousel-control-next-icon {
    background-image: url(../imagenes/puntader.png); }
  .carousel-control-next, .carousel-control-prev {
    width: 8%; }
  .carousel-control-prev-icon {
    background-image: url(../imagenes/puntaizq.png); }
  #carrusel1, #carrusel2, #carrusel3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12rem 1rem 0rem 1rem; }
  #carrusel4, #carrusel5, #carrusel6, #carrusel7, #carrusel8, #carrusel9, #carrusel10, #carrusel11, #carrusel12 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem 0rem 1rem; }
  #carrusel13, #carrusel14, #carrusel15 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem 0rem 1rem; }
  .piearticle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "monserrat";
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .piearticle__bottom {
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    border: solid 0.2rem;
    border-color: #26cf11;
    background-color: black;
    color: #f8f3b1;
    font-size: 1.5rem;
    margin: 1rem;
    transition: all 0.5s; }
  .piearticle__bottom:hover {
    width: 13rem;
    height: 4rem; }
  section {
    margin-bottom: 5rem; } }

@media (max-width: 576px) {
  .container {
    width: 92%;
    padding-right: 0.1rem;
    padding-left: 0.1rem; }
  .carousel-control-next-icon {
    background-image: url(../imagenes/puntader.png);
    width: 1.5rem;
    height: 1rem; }
  .carousel-control-next, .carousel-control-prev {
    width: 4%; }
  .carousel-control-prev-icon {
    background-image: url(../imagenes/puntaizq.png);
    width: 1.5rem;
    height: 1rem; }
  .col-4 {
    position: relative;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .row {
    display: none;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem; }
  #carrusel1, #carrusel2, #carrusel3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 1rem 0rem 1rem; }
  #carrusel4, #carrusel5, #carrusel6, #carrusel7, #carrusel8, #carrusel9, #carrusel10, #carrusel11, #carrusel12 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem 0rem 1rem; }
  #carrusel13, #carrusel14, #carrusel15 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem 0rem 1rem; }
  .piearticle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "monserrat";
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .piearticle__bottom {
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    border: solid 0.2rem;
    border-color: #26cf11;
    background-color: black;
    color: #f8f3b1;
    font-size: 0.8rem;
    margin: 1rem;
    transition: all 0.5s; }
  .piearticle__bottom:hover {
    width: 7rem;
    height: 3rem; }
  section {
    margin-bottom: 3rem; } }

.sectionquiensoy1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem; }

.sectionquiensoy1 img {
  width: 32rem;
  height: 50rem;
  margin: 2rem;
  transition: all 1s; }

.sectionquiensoy1 img:hover {
  width: 36rem;
  height: 54rem; }

.sectionquiensoy1 .texto {
  display: flex;
  flex-direction: column;
  font-family: "extralight";
  font-weight: bold;
  font-size: 1.9rem;
  align-items: flex-start;
  text-align: justify;
  margin-right: 2rem; }

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.sectionquiensoy2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem; }

.sectionquiensoy2 .sectionquiensoy2__img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.sectionquiensoy2 .sectionquiensoy2__img img {
  width: 38rem;
  height: 38rem; }

.sectionquiensoy2 .sectionquiensoy2__img small {
  font-family: "extralight";
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@media (max-width: 768px) {
  .sectionquiensoy1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem; }
  .sectionquiensoy1 img {
    width: 36rem;
    height: 44rem;
    margin: 1rem;
    transition: all 1s; }
  .sectionquiensoy1 img:hover {
    width: 36rem;
    height: 45rem; }
  .sectionquiensoy1 .texto {
    display: flex;
    flex-direction: column;
    font-family: "extralight";
    font-weight: bold;
    font-size: 1.2rem;
    align-items: flex-start;
    text-align: justify; }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .sectionquiensoy2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem; }
  .sectionquiensoy2 .sectionquiensoy2__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem; }
  .sectionquiensoy2 .sectionquiensoy2__img img {
    width: 30rem;
    height: 30rem; }
  .sectionquiensoy2 .sectionquiensoy2__img small {
    font-family: "extralight";
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0.5rem 0rem;
    animation-duration: 2s;
    animation-iteration-count: infinite; } }

@media (max-width: 576px) {
  .sectionquiensoy1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem; }
  .sectionquiensoy1 img {
    width: 15rem;
    height: 26rem;
    margin: 1.5rem; }
  .sectionquiensoy1 img:hover {
    width: 16rem;
    height: 27rem; }
  .sectionquiensoy1 .texto {
    display: flex;
    flex-direction: column;
    font-family: "extralight";
    font-weight: bold;
    font-size: 1rem;
    align-items: flex-start;
    text-align: justify;
    margin: 0rem 1.5rem 0rem 1.5rem; }
  p {
    margin: 0.2rem; }
  .sectionquiensoy2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sectionquiensoy2 .sectionquiensoy2__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem; }
  .sectionquiensoy2 .sectionquiensoy2__img img {
    width: 26rem;
    height: 26rem; }
  .sectionquiensoy2 .sectionquiensoy2__img small {
    font-family: "extralight";
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
    animation-duration: 2s;
    animation-iteration-count: infinite; } }

.seccionprod {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: repeat 4, auto;
  gap: 5%;
  height: 120vh;
  justify-content: center;
  font-family: "extralight";
  font-weight: bold;
  margin-top: 8rem;
  margin-bottom: 14rem; }

.seccionprod h4 {
  grid-column: 1/3;
  grid-row: 1;
  font-family: "monserrat";
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
  word-spacing: 0.5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  transition: all 0.5s; }

.seccionprod h4:hover {
  font-size: 4rem; }

.productoh5 {
  font-family: "monserrat";
  font-size: 2.5rem;
  letter-spacing: 1rem;
  padding: 1rem; }

.pproducto {
  font-size: 2rem;
  padding: 1rem; }

li {
  list-style-type: none;
  font-size: 2rem; }

.seccionprod .divproducto, .seccionprod .divprodalcance {
  justify-content: center;
  text-align: center;
  background: #faff03;
  box-shadow: 1rem 1rem 2rem #000000;
  border-style: dotted;
  border-color: #26cf11;
  border-radius: 3rem;
  padding: 1.5rem; }

.seccionprod .divprodalcance {
  grid-column: 1/3;
  grid-row: 4; }

@media (max-width: 768px) {
  .seccionprod {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: repeat 4, 170px;
    gap: 3%;
    height: 120vh;
    justify-content: center;
    font-family: "extralight";
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 8rem; }
  .seccionprod h4 {
    grid-column: 1/3;
    grid-row: 1;
    font-family: "monserrat";
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.2rem;
    padding: 3rem 0rem 1rem 0rem;
    margin: 3rem 0rem 1rem 0rem;
    transition: all 0.5s; }
  .seccionprod h4:hover {
    font-size: 4rem; }
  .productoh5 {
    font-family: "monserrat";
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem; }
  .pproducto {
    font-size: 1.8rem;
    padding: 0.1rem; }
  li {
    list-style-type: none;
    font-size: 1.8rem; }
  .seccionprod .divproducto, .seccionprod .divprodalcance {
    justify-content: center;
    text-align: center;
    background: #faff03;
    box-shadow: 1rem 1rem 2rem #000000;
    border-style: dotted;
    border-color: #26cf11;
    border-radius: 2rem;
    padding: 1rem;
    margin: 0.5rem 3.5rem; }
  .seccionprod .divprodalcance {
    grid-column: 1/3;
    grid-row: 4;
    justify-content: center;
    text-align: center;
    background-color: #faff03;
    box-shadow: 1rem 1rem 2rem #000000;
    border-style: dotted;
    border-color: #26cf11;
    border-radius: 2rem;
    padding: 1rem;
    margin: 0rem 3.5rem; } }

@media (max-width: 576px) {
  .seccionprod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "extralight";
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 8rem; }
  .seccionprod h4 {
    font-family: "monserrat";
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0rem 1rem 0rem 1rem; }
  .productoh5 {
    font-family: "monserrat";
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem; }
  .pproducto {
    font-size: 1rem;
    padding: 0.1rem; }
  li {
    list-style-type: none;
    font-size: 1rem; }
  .seccionprod .divproducto, .seccionprod .divprodalcance {
    justify-content: center;
    text-align: center;
    background: #faff03;
    box-shadow: 1rem 1rem 2rem #000000;
    border-style: dotted;
    border-color: #26cf11;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 3.5rem; }
  .seccionprod .divprodalcance {
    justify-content: center;
    text-align: center;
    background: #faff03 80%;
    box-shadow: 1rem 1rem 2rem #000000;
    border-style: dotted;
    border-color: #26cf11;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0rem 3.5rem; } }

.formcontacto {
  background-image: url(../imagenes/fondoform.png);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  margin: 10rem 10rem 6rem 8rem;
  padding: 1rem; }

.formcontacto .formcontacto__secciones {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  font-size: 2.5rem;
  padding-left: 0.2rem;
  margin: 1rem; }

.formcontacto .formcontacto__secciones--divlabel {
  font-size: 2rem; }

.formcontacto .formcontacto__secciones--div input {
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1.5rem 0rem; }

.formcontacto .formcontacto__secciones--div input:focus {
  background-color: #faff03; }

.formcontacto .formcontacto__secciones--edad {
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 1.5rem 0rem; }

.formcontacto .formcontacto__secciones--edad:focus {
  background-color: #faff03; }

.formcontacto .formcontacto__secciones--items {
  font-size: 2.5rem;
  margin: 1rem; }

.formcontacto .formcontacto__secciones--input {
  cursor: pointer;
  transition: all 0.8s; }

.formcontacto .formcontacto__secciones--input:hover {
  width: 2rem;
  height: 2rem; }

.formcontacto textarea {
  font-family: "monserrat";
  font-size: 1.5rem;
  width: 46rem;
  height: 12rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem 0.5rem; }

.formcontacto textarea:focus {
  background-color: #faff03; }

.formcontacto .formcontacto__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "monserrat";
  font-weight: bolder;
  margin: 0rem 2rem; }

.formcontacto .formcontacto__checkbox input {
  cursor: pointer;
  transition: all 0.8s;
  margin: 0rem 1rem; }

.formcontacto .formcontacto__checkbox input:hover {
  width: 2rem;
  height: 2rem; }

.formcontacto .formcontacto__boton {
  display: flex;
  justify-content: center;
  margin: 2rem; }

.formcontacto .formcontacto__boton input {
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: black;
  color: #f8f3b1;
  font-size: 2rem;
  margin: 0rem 1rem;
  transition: all 0.8s; }

.formcontacto .formcontacto__boton input:hover {
  width: 16rem;
  height: 6rem; }

.formcontacto__secciones--leg {
  font-family: "monserrat";
  font-size: 3rem;
  padding: 0;
  margin: 1rem; }

@media (max-width: 768px) {
  .formcontacto {
    background-image: url(../imagenes/fondoformpeq.png);
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    margin: 8rem 2rem 4rem 2rem;
    padding: 1rem; }
  .formcontacto .formcontacto__secciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem; }
  .formcontacto .formcontacto__secciones--divlabel {
    font-size: 2rem; }
  .formcontacto .formcontacto__secciones--div input {
    font-size: 1.8rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin: 1.5rem 0rem; }
  .formcontacto .formcontacto__secciones--div input:focus {
    background-color: #faff03; }
  .formcontacto .formcontacto__secciones--edad {
    font-size: 1.8rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin: 1.5rem 0rem; }
  .formcontacto .formcontacto__secciones--edad:focus {
    background-color: #faff03; }
  .formcontacto .formcontacto__secciones--items {
    font-size: 2rem;
    margin: 1rem; }
  .formcontacto .formcontacto__secciones--input {
    cursor: pointer;
    transition: all 0.8s; }
  .formcontacto .formcontacto__secciones--input:hover {
    width: 1.5rem;
    height: 1.5rem; }
  .formcontacto textarea {
    font-family: "monserrat";
    font-size: 1.2rem;
    width: 38rem;
    height: 10rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.5rem 0.5rem; }
  .formcontacto textarea:focus {
    background-color: #faff03; }
  .formcontacto .formcontacto__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 0rem 2rem; }
  .formcontacto .formcontacto__checkbox input {
    cursor: pointer;
    transition: all 0.8s;
    margin: 0rem 1rem; }
  .formcontacto .formcontacto__checkbox input:hover {
    width: 1.5rem;
    height: 1.5rem; }
  .formcontacto .formcontacto__boton {
    display: flex;
    justify-content: center;
    margin: 2rem; }
  .formcontacto .formcontacto__boton input {
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: black;
    color: #f8f3b1;
    font-size: 1.5rem;
    margin: 0rem 1rem;
    transition: all 0.8s; }
  .formcontacto .formcontacto__boton input:hover {
    width: 14rem;
    height: 5rem; }
  .formcontacto__secciones--leg {
    font-family: "monserrat";
    font-size: 2rem;
    padding: 0;
    margin: 1rem; } }

@media (max-width: 576px) {
  .formcontacto {
    background-image: url(../imagenes/fondoformpeq.png);
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    margin: 6rem 2rem 4rem 2rem;
    padding: 1rem; }
  .formcontacto .formcontacto__secciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
    font-size: 1.8rem;
    padding-left: 0.2rem;
    margin: 1rem; }
  .formcontacto .formcontacto__secciones--divlabel {
    font-size: 1.5rem; }
  .formcontacto .formcontacto__secciones--div input {
    font-size: 1.8rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1.5rem 0rem; }
  .formcontacto .formcontacto__secciones--div input:focus {
    background-color: #faff03; }
  .formcontacto .formcontacto__secciones--edad {
    font-size: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin: 1.5rem 0rem; }
  .formcontacto .formcontacto__secciones--edad:focus {
    background-color: #faff03; }
  .formcontacto .formcontacto__secciones--items {
    font-size: 2rem;
    margin: 1rem; }
  .formcontacto .formcontacto__secciones--input {
    cursor: pointer;
    transition: all 0.8s; }
  .formcontacto .formcontacto__secciones--input:hover {
    width: 1.5rem;
    height: 1.5rem; }
  .formcontacto textarea {
    font-family: "monserrat";
    font-size: 1rem;
    width: 22rem;
    height: 8rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.5rem 0.2rem; }
  .formcontacto textarea:focus {
    background-color: #faff03; }
  .formcontacto .formcontacto__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "monserrat";
    font-weight: bolder;
    margin: 0rem 2rem; }
  .formcontacto .formcontacto__checkbox input {
    cursor: pointer;
    transition: all 0.8s;
    margin: 0rem 1rem; }
  .formcontacto .formcontacto__checkbox input:hover {
    width: 2rem;
    height: 2rem; }
  .formcontacto .formcontacto__boton {
    display: flex;
    justify-content: center;
    margin: 2rem; }
  .formcontacto .formcontacto__boton input {
    width: 20rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: black;
    color: #f8f3b1;
    font-size: 1.3rem;
    margin: 0rem 1rem;
    transition: all 0.8s; }
  .formcontacto .formcontacto__boton input:hover {
    width: 21rem;
    height: 5rem; }
  .formcontacto__secciones--leg {
    font-family: "monserrat";
    font-size: 2rem;
    padding: 0;
    margin: 1rem; } }

html {
  font-size: 62.5%;
  /*1 rem=10px*/ }

body {
  background: #f8f3b1; }

.headerindex {
  background-image: url(../imagenes/fondoindex.png);
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-family: "monserrat"; }

/*menú de navegación INDEX y SECCIONES*/
.navbar {
  position: absolute;
  top: 0.2rem;
  left: 2rem;
  -ms-flex-align: center;
  -ms-flex-pack: justify; }

.navbar-light .navbar-nav .nav-link {
  font-family: "monserrat";
  font-size: 2.8rem;
  color: #000000;
  font-weight: bold;
  margin: 0rem 1rem;
  transition: all 0.5s; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #000000;
  font-size: 2.8rem;
  font-weight: bold; }

.navbar-light .navbar-nav .nav-link:hover {
  font-size: 3.5rem;
  color: #5e0870; }

.bg-light {
  background-color: transparent !important; }

.bg-lightsec {
  background-color: transparent !important; }

a {
  color: #5e0870;
  text-decoration: none; }

@media (max-width: 768px) {
  .navbar-toggler {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: 0.3rem solid;
    border-radius: 1.5rem; }
  .navbar-light .navbar-toggler-icon {
    background-image: url(../imagenes/menu.png);
    width: 3rem;
    height: 3rem; }
  .navbar {
    padding: 0.1rem; }
  .navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: 50%/100% 100% no-repeat; }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: #ff5303; }
  button {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 3rem;
    border: solid 0.2rem;
    font-size: 1rem;
    margin: 1rem;
    transition: all 0.5s; }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    width: 5.5rem;
    height: 5.5rem;
    border-color: #5e0870;
    background-color: #ff5303; }
  .navbar-light .navbar-nav .nav-link:hover {
    font-size: 3.5rem;
    color: #5e0870; } }

@media (max-width: 576px) {
  .navbar-toggler {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: 0.3rem solid;
    border-radius: 1.5rem; }
  .navbar-light .navbar-toggler-icon {
    background-image: url(../imagenes/menu.png);
    width: 2rem;
    height: 2rem; }
  .navbar {
    padding: 0.1rem; }
  .navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: 50%/100% 100% no-repeat; }
  .navbar-light .navbar-toggler {
    border-color: #ff5303; }
  button {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 2rem;
    border: solid 0.1rem;
    font-size: 1rem;
    margin: 1rem;
    transition: all 0.5s; }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    width: 4.5rem;
    height: 4.5rem;
    border-color: #5e0870;
    background-color: #ff5303; }
  .navbar-light .navbar-nav .nav-link {
    font-family: "monserrat";
    font-size: 1.7rem;
    color: #000000;
    font-weight: bold;
    margin: 0rem 1rem;
    transition: all 0.5s; }
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #000000;
    font-size: 1.7rem;
    font-weight: bold; }
  .navbar-light .navbar-nav .nav-link:hover {
    font-size: 2rem;
    color: #5e0870; }
  .bg-light {
    background-color: #f8f3b1 !important; }
  .bg-lightsec {
    background-color: #faff03 !important; } }

/*título y subtítulo INDEX*/
.tituloysubt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  font-family: "donau"; }

/*oculto el título, porque está en imagen header, NO lo borro así el buscador lo tiene de referencia*/
.tituloysubt .tituloysubt__titulo {
  position: absolute;
  display: none;
  color: #f8f3b1; }

.tituloysubt .tituloysubt__h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 6rem;
  letter-spacing: 6rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  animation-delay: 0.3s;
  animation-duration: 2s; }

@media (max-width: 768px) {
  .headerindex {
    background-image: url(../imagenes/fondoindex768.png);
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-family: "monserrat"; }
  .tituloysubt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    font-family: "donau"; }
  /*oculto el título, porque está en imagen header, NO lo borro así el buscador lo tiene de referencia*/
  .tituloysubt .tituloysubt__titulo {
    position: absolute;
    display: none;
    color: #f8f3b1; }
  .tituloysubt .tituloysubt__h2 {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 4.5rem;
    letter-spacing: 3rem;
    margin-bottom: 2rem;
    animation-delay: 0.1s;
    animation-duration: 2s; } }

@media (max-width: 576px) {
  .headerindex {
    background-image: url(../imagenes/fondoindex576.png);
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-family: "monserrat"; }
  .tituloysubt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    font-family: "donau"; }
  /*oculto el título, porque está en imagen header, NO lo borro así el buscador lo tiene de referencia*/
  .tituloysubt .tituloysubt__titulo {
    position: absolute;
    display: none;
    color: #f8f3b1; }
  .tituloysubt .tituloysubt__h2 {
    position: absolute;
    bottom: 3rem;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    padding-left: 0.8rem;
    margin-bottom: 2rem;
    animation-delay: 0.1s;
    animation-duration: 2s; } }

/*main del INDEX*/
main {
  padding-top: 4rem;
  padding-bottom: 8rem;
  margin-top: 4rem;
  margin-bottom: 8rem; }

#carouselExampleIndicators.carousel {
  width: 80%;
  margin: auto; }

.imgmain {
  border-style: solid; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.carousel-indicators li {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: #f8f3b1;
  background-clip: content-box;
  opacity: 2;
  transition: all 0.1s; }

main q {
  color: #000000;
  background-image: url(../imagenes/fondoq.png);
  background-position: center;
  position: absolute;
  right: 10rem;
  left: 10rem;
  letter-spacing: 0.3rem;
  font-size: 2.8rem;
  font-family: "monserrat";
  font-weight: lighter;
  text-align: center;
  margin: 7rem 0rem;
  padding: 2.5rem 0rem;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@media (max-width: 768px) {
  main {
    padding-top: 2rem;
    padding-bottom: 6rem;
    margin-top: 2rem;
    margin-bottom: 10rem; }
  #carouselExampleIndicators.carousel {
    width: 90%;
    margin: auto; }
  main q {
    background: #ff5303 70%;
    box-shadow: 1rem 1rem 2rem #000000;
    color: #000000;
    position: absolute;
    right: 4rem;
    left: 4rem;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    font-family: "monserrat";
    font-weight: lighter;
    text-align: center;
    margin: 3rem 0rem 5rem 0rem;
    padding: 1rem;
    animation-duration: 3s;
    animation-iteration-count: infinite; } }

@media (max-width: 576px) {
  main {
    padding-top: 0.5rem;
    padding-bottom: 6rem;
    margin-top: 0.1rem;
    margin-bottom: 10rem; }
  #carouselExampleIndicators.carousel {
    width: 85%;
    margin: auto; }
  main q {
    background: #ff5303 70%;
    box-shadow: 1rem 1rem 2rem #000000;
    color: #000000;
    position: absolute;
    right: 4rem;
    left: 4rem;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    font-family: "monserrat";
    font-weight: lighter;
    text-align: center;
    margin: 3rem 0rem 8rem 0rem;
    padding: 0.5rem 2rem;
    animation-duration: 3s;
    animation-iteration-count: infinite; } }

/*ubicación facebook, instagram, barra busqueda y carrito compras del header INDEX y SECCIONES*/
.alcostado__barra {
  position: absolute;
  top: 2rem;
  right: 9rem;
  display: flex; }

.alcostado__barra input {
  font-family: "monserrat";
  font-size: 1.5rem;
  width: 18rem;
  height: 3rem;
  border: solid #5e0870;
  border-radius: 0.5rem;
  padding-left: 1rem; }

::placeholder {
  font-family: "monserrat";
  font-size: 1.5rem;
  padding: 0.5rem; }

.alcostado__barra label img {
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem; }

.alcostado__carrito {
  position: absolute;
  top: 2rem;
  right: 3rem;
  display: flex;
  justify-content: center; }

.alcostado__carrito img {
  width: 3rem;
  height: 3rem;
  transition: all 0.5s; }

.alcostado__carrito img:hover {
  width: 4rem;
  height: 4rem; }

.alcostado__img {
  position: absolute;
  top: 10rem;
  right: 2rem;
  display: flex;
  flex-direction: column; }

.insta-icon {
  width: 4.5rem;
  height: 4.5rem;
  transition: all 0.5s;
  margin-top: 1rem; }

.face-icon {
  width: 4.5rem;
  height: 4.5rem;
  transition: all 0.5s;
  margin-top: 1rem; }

.insta-icon:hover {
  width: 5.5rem;
  height: 5.5rem; }

.face-icon:hover {
  width: 5.5rem;
  height: 5.5rem; }

@media (max-width: 768px) {
  .alcostado__barra {
    position: absolute;
    top: 2rem;
    right: 7rem;
    display: flex; }
  .alcostado__barra input {
    font-family: "monserrat";
    border: solid #5e0870;
    width: 12rem;
    height: 3rem;
    padding-left: 1rem; }
  ::placeholder {
    font-family: "monserrat"; }
  .alcostado__barra label img {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem; }
  .alcostado__img {
    position: absolute;
    top: 6rem;
    right: 7rem;
    display: flex; }
  .alcostado__carrito {
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: flex;
    justify-content: center; }
  .alcostado__carrito img {
    width: 3rem;
    height: 3rem;
    transition: all 0.5s; }
  .alcostado__carrito img:hover {
    width: 3.5rem;
    height: 3.5rem; }
  .alcostado__img {
    position: absolute;
    top: 8rem;
    right: 2rem;
    display: flex;
    flex-direction: column; }
  .insta-icon {
    width: 3rem;
    height: 3rem;
    transition: all 0.5s;
    margin-left: 1rem; }
  .face-icon {
    width: 3rem;
    height: 3rem;
    transition: all 0.5s;
    margin-left: 1rem; }
  .insta-icon:hover {
    width: 3.5rem;
    height: 3.5rem; }
  .face-icon:hover {
    width: 3.5rem;
    height: 3.5rem; } }

@media (max-width: 576px) {
  .alcostado__barra {
    position: absolute;
    top: 2rem;
    right: 5rem;
    display: flex; }
  .alcostado__barra input {
    font-family: "monserrat";
    border: solid #5e0870 0.2rem;
    width: 10rem;
    height: 2rem;
    padding-left: 0.3rem; }
  ::placeholder {
    font-family: "monserrat";
    font-size: 1rem; }
  .alcostado__barra label img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem; }
  .alcostado__img {
    position: absolute;
    top: 6rem;
    right: 5rem;
    display: flex; }
  .alcostado__carrito {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center; }
  .alcostado__carrito img {
    width: 2rem;
    height: 2rem;
    transition: all 0.5s; }
  .alcostado__carrito img:hover {
    width: 2.5rem;
    height: 2.5rem; }
  .alcostado__img {
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: flex;
    flex-direction: row; }
  .insta-icon {
    width: 2rem;
    height: 2rem;
    transition: all 0.5s;
    margin-left: 0.5rem; }
  .face-icon {
    width: 2rem;
    height: 2rem;
    transition: all 0.5s;
    margin-left: 0.5rem; }
  .insta-icon:hover {
    width: 2.5rem;
    height: 2.5rem; }
  .face-icon:hover {
    width: 2.5rem;
    height: 2.5rem; } }

/*header SECCIONES*/
.headersecciones {
  background-image: url(../imagenes/fondosecciones.png);
  background-position: center;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*títulos y subtítulos SECCIONES*/
.tituloysubtsecciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "donau";
  padding-bottom: 8rem;
  padding-top: 8rem; }

/*oculto el título porque está en imagen header, NO lo borro para que el buscador lo tenga de referencia*/
.tituloysubtsecciones .tituloysubtsecciones__titulo {
  position: absolute;
  display: none;
  color: #faff03; }

.tituloysubtsecciones .tituloysubtsecciones__h2 {
  position: absolute;
  top: 37rem;
  color: black;
  font-size: 4rem;
  letter-spacing: 3rem;
  font-weight: bolder;
  animation-delay: 1.2s;
  animation-duration: 3s; }

.tituloseccion {
  position: absolute;
  bottom: -7rem;
  width: 100%;
  font-size: 6rem;
  font-weight: bolder;
  font-family: "donau";
  text-align: center;
  color: black;
  background-color: #ff5303; }

@media (max-width: 768px) {
  .tituloysubtsecciones .tituloysubtsecciones__h2 {
    position: absolute;
    top: 32rem;
    color: black;
    font-size: 3rem;
    letter-spacing: 2rem;
    font-weight: bolder;
    animation-delay: 1.2s;
    animation-duration: 3s; }
  .tituloseccion {
    position: absolute;
    bottom: -5rem;
    width: 100%;
    font-size: 4.5rem;
    font-weight: bolder;
    font-family: "donau";
    text-align: center;
    color: black;
    background-color: #ff5303; } }

@media (max-width: 576px) {
  .headersecciones {
    background-image: url(../imagenes/fondoseccion576.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .tituloysubtsecciones .tituloysubtsecciones__h2 {
    position: absolute;
    top: 30.5rem;
    color: black;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: bolder;
    animation-delay: 1.2s;
    animation-duration: 3s; }
  .tituloseccion {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: "donau";
    text-align: center;
    color: black;
    background-color: #ff5303; } }

/*FOOTER del sitio web*/
.colorpiepag {
  background: linear-gradient(to bottom, #f8f3b1, #5e0870);
  background-position: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }

footer .footer1 {
  font-family: "monserrat";
  font-size: 2.3rem;
  letter-spacing: 0.5rem;
  text-align: center;
  color: black;
  padding-bottom: 3rem; }

footer .footer1 img {
  width: 2rem;
  height: 2rem; }

footer .footer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "monserrat";
  letter-spacing: 2rem;
  padding: 1rem 0rem; }

footer .footer2__h3 {
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  letter-spacing: 1rem;
  padding-bottom: 2rem; }

.instagram-icon {
  width: 5rem;
  height: 5rem;
  transition: all 0.5s; }

.facebook-icon {
  width: 5rem;
  height: 5rem;
  transition: all 0.5s; }

.correo-icon {
  width: 5rem;
  height: 5rem;
  transition: all 0.5s; }

.instagram-icon:hover {
  width: 7rem;
  height: 7rem; }

.facebook-icon:hover {
  width: 7rem;
  height: 7rem; }

.correo-icon:hover {
  width: 7rem;
  height: 7rem; }

footer .footer2__a--a {
  margin-top: 2rem;
  margin-bottom: 2rem; }

footer .footer2__a--a img {
  width: 6rem;
  height: 6rem;
  transition: all 0.5s; }

footer .footer2__a--a img:hover {
  width: 7rem;
  height: 7rem; }

.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "extralight";
  font-size: 2rem;
  font-weight: bolder;
  color: #f8f3b1;
  margin-bottom: 1.5rem; }

.ubicacion img {
  width: 3rem;
  height: 3rem;
  margin: 0rem 1.5rem 0rem 1.5rem;
  transition: all 0.5s; }

#copyright {
  font-family: "extralight";
  color: #f8f3b1;
  font-size: 1.5rem;
  transition: all 0.5s; }

@media (max-width: 768px) {
  footer .footer1 {
    font-family: "monserrat";
    font-size: 2.3rem;
    letter-spacing: 0.5rem;
    text-align: center;
    color: black;
    padding-bottom: 3rem;
    margin-left: 4.8rem;
    margin-right: 4.8rem; }
  footer .footer1 img {
    width: 2rem;
    height: 2rem; }
  footer .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "monserrat";
    letter-spacing: 2rem;
    padding: 1rem 0rem; }
  footer .footer2__h3 {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    letter-spacing: 1rem;
    padding-bottom: 2rem; }
  .instagram-icon {
    width: 5rem;
    height: 5rem;
    transition: all 0.5s; }
  .facebook-icon {
    width: 5rem;
    height: 5rem;
    transition: all 0.5s; }
  .correo-icon {
    width: 5rem;
    height: 5rem;
    transition: all 0.5s; }
  .instagram-icon:hover {
    width: 7rem;
    height: 7rem; }
  .facebook-icon:hover {
    width: 7rem;
    height: 7rem; }
  .correo-icon:hover {
    width: 7rem;
    height: 7rem; }
  footer .footer2__a--a {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  footer .footer2__a--a img {
    width: 6rem;
    height: 6rem;
    transition: all 0.5s; }
  footer .footer2__a--a img:hover {
    width: 7rem;
    height: 7rem; }
  .ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "extralight";
    font-size: 1.8rem;
    font-weight: bold;
    color: #f8f3b1;
    margin-bottom: 1.5rem; }
  .ubicacion img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0rem 1rem 0rem 1rem;
    transition: all 0.5s; }
  #copyright {
    font-family: "extralight";
    color: #f8f3b1;
    font-size: 1.5rem;
    transition: all 0.5s; } }

@media (max-width: 576px) {
  footer .footer1 {
    font-family: "monserrat";
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: black;
    padding-bottom: 1rem;
    margin: 0rem 0.8rem; }
  footer .footer1 img {
    width: 1.5rem;
    height: 1.5rem; }
  footer .footer2__h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    letter-spacing: 1rem;
    padding-bottom: 2rem; }
  .instagram-icon {
    width: 3.5rem;
    height: 3.5rem;
    transition: all 0.5s; }
  .facebook-icon {
    width: 3.5rem;
    height: 3.5rem;
    transition: all 0.5s; }
  .correo-icon {
    width: 3.5rem;
    height: 3.5rem;
    transition: all 0.5s; }
  footer .footer2__a--a {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  footer .footer2__a--a img {
    width: 4.5rem;
    height: 4.5rem;
    transition: all 0.5s; }
  footer .footer2__a--a img:hover {
    width: 5rem;
    height: 5rem; }
  .ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "extralight";
    font-size: 1.2rem;
    font-weight: bolder;
    color: #f8f3b1;
    margin-bottom: 1rem; }
  .ubicacion img {
    width: 2rem;
    height: 2rem;
    margin: 0rem 0.1rem 0rem 0.1rem;
    transition: all 0.5s; }
  #copyright {
    font-family: "extralight";
    color: #f8f3b1;
    font-size: 1rem;
    transition: all 0.5s; } }
